* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#canvas {
  border: 1px solid black;
  background-color: rgba(3, 3, 7, 0.95);
}

div.score {
  position: absolute;
  font-size: 2rem;
  color: white;
  top: 2%;
  right: 2%;
}
